---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <h1 class="page-header">
        {{ page.title | escape }}
        <p>
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d,
                %Y" }}
            </time>
            {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span
                itemprop="name">{{ page.author }}</span></span>{% endif %}
        </p>
    </h1>
    {{ content }}
    <div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
    {% endif %}
</article>

